{% extends 'base.html' %}

{% block content %}
<!-- Auth Failed Flash Messages -->
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'auth-failed' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Sign in Page goes here</h1>
{% include 'form.html' %}
{% endblock content %}