/* Nav Styles */
.ct-nav{
    display: flex;
    justify-content: center
}

/* Target Main Logo Image */
.ct-nav img{
    width: 25%;
    max-width: 100%;
    margin-left: 2vw
}

ul#horizontal-list{
    min-width: 55vw;
    list-style: none;
    padding-top: 2.5vw
}

#horizontal-list li, #horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: black;
}

#horizontal-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}

/*  End of Nav Styles */

/* Start of the Header/Hero Section */
#header-text{
    padding: 2vw;
}

.header-image{
    width: 85%;
    max-width: 100%;
}
/* End of Header/Hero Section */

/* Start of Middle Section */

#middle-text{
    text-align: center;
    padding: 10vh;
}

#middle-text h2{
    padding: 1.5vw;
}

/* End of Middle Section */

/* Start of Features Section */
#api-image, #graphql-image, #database-image{
    display: block;
    margin: auto;
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
}
/* End of Features Section */
/* Start of Community */
#drone-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
}
/* End of Community */
/* Start of Footer */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh
}







